# Archivos del sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Carpetas temporales
.vscode/
.idea/

# Archivos de logs
*.log
npm-debug.log*

# Node modules (si decides agregar dependencias en el futuro)
node_modules/
